@{
  Layout = "_Layout";
}

<h1>Order Details: </h1>

<h3>Order Title: @Model["order"].Title</h2>
<h3>Order Description: @Model["order"].Description</h2>
<h3>Order Price: @Model["order"].Price</h2>
<h3>Order Due Date: @Model["order"].Date</h2>
<h3>Vendor:</h3>: @Model["vendor"].Name</h3>
<h3>: @Model["vendor"].Description</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<br>
<a href='/vendors/'>Back to list of vendors</a>