@{
  Layout = "_Layout";
}

<h1>Order Details:</h1>

<p>Vendor: @Model["vendor"].Name</p>
<p>Title: @Model["order"].Title</p>
<p>Details: @Model["order"].Details</p>
<p>Date: @Model["order"].Date</p>
<p>Price: @Model["order"].Price</p>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add Another Order</a></p>
<br>
<p><a href='/vendors/@Model["vendor"].Id/'>Back to this Vendors Orders</a></p>
<br>
<p><a href='/vendors'>View All Vendors</a></p>
